[submodule "TreeRoot/vendor/spdlog"]
	path = TreeRoot/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TreeRoot/vendor/GLFW"]
	path = TreeRoot/vendor/GLFW
	url = https://github.com/glfw/glfw
